html {
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    max-width: 1024px;
}

.container {
    padding-left: 0;
}

.nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 4rem;
    margin: 2rem;
    position: relative;
}

h1 {
    font-size: 3rem;

}

.nav-right {
    margin-left: auto;
}

.nav-right a {
    margin: 1rem;
}

.navbtn {
    border: .1rem solid #fff;
    color: #000000;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
}

.navbtn:hover {
    border: .1rem solid #e4e4e4;
    padding: 1rem;
}

fieldset.border.p-2 {
    border-radius: .3rem;
    margin: 2rem;
}

legend.w-auto {
    font-size: 1.3rem;
    text-align: center;
}

input, select {
    border: .1rem solid #e4e4e4;
    height: 3rem;
    padding-left: 1rem;

}

.names {
    display: flex;
    flex-direction: column;
}

.name-field {
    margin-bottom: 1rem;
}

.username {
    margin-bottom: 2rem;
}

.details {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.details-field {
    margin-bottom: 1rem;
}

.tool {
    align-items: center;
    display: flex;
}

.password {
    flex-grow: 4;
}

.tooltip {
    background-color: #a5dc86;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.6);
    height: 1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    padding: .7rem 1rem;
    position: relative;
    text-align: center;
    width: 1rem;
}

.tooltip-content {
    display: none;
}

.tooltip:hover .tooltip-content {
    background-color: #a5dc86;
    border-radius: .5rem;
    bottom: 130%;
    display: block;
    left: -1.9rem;
    padding: 1rem .5rem;
    position: absolute;
    left: -640%;
    text-align: left;
    width: max-content;
}

.tooltip .tooltip-content::after {
    border-color: #a5dc86 transparent transparent transparent; content: " ";
    border-style: solid;
    border-width: .7rem;
    bottom: -1.4rem;
    right: .8rem;
    position: absolute;
}

.birth {
    display: flex;
    flex-direction: column;
}

.birth-field {
    margin-bottom: 1rem;
}

.toggle {
    display: flex;
    margin: 2rem 0;
    overflow: hidden;

}

.toggle input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.toggle label {
	background-color: fff;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
}

.toggle label:hover {
	cursor: pointer;
}

.toggle input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.toggle label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.toggle label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.btn-signup, .btn.btn-fb {
    border: .1rem solid #e4e4e4;
    margin: 1rem 0;

}
.btn-signup {
    background-color: #000;
    border: .1rem solid #e4e4e4;
    border-radius: 1.5rem;
    color: #fff;
    height: 3rem;
    margin-right: 1rem;
    width: 100px;

}

.btn-fb {
    background-color: #fff;
    border: .1rem solid #e4e4e4;
    border-radius: 1.5rem;
    height: 3rem;
    padding: 0 2rem;
}

.footer {
    color: #cecccc;
    font-weight: normal;
    margin:0 0 2rem 2rem;
}

.footer a{
    color: #cecccc;
    font-weight: normal;
}

img {
    width: 100vw;
}

@media (min-width: 576px) {
    img {
        min-height: 434px;
        max-height: 99vh;
        object-fit: cover;
        object-position: 223px -350px;
    }


    .container {
        display: flex;
        flex-direction: row-reverse;
    }

    .names {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .name-field {
        flex-grow: 1;
        width: 45%;
        margin-top: 1rem;
    }

    #fname {
        margin-right: 1rem;
    }

    .username {
        flex-grow: 1;
        margin-bottom: 3rem;
    }

    .birth {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .birth-field {
        flex-grow: 1;
    }

    #bdate, #bmonth {
        margin-right: 1rem;
    }
}
