html {
    font-size: 10px;
}

body {
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
h1 {
    font-size: 3rem;
    margin-left: 10px;
}
.btnLogin {
    margin-left: 5px !important;
}




img {
    width: 99vw;
}